:root {
  --page-margin: 1rem;
  --grid-border-size: 0px;

  --light-1: white;
  --light-2: #EEE;
  --light-3: rgb(131, 174, 238);
  --dark-1: black;
  --dark-2: rgb(21, 21, 22);
  --dark-3: rgb(32, 33, 37);
  --dark-4: rgb(53, 55, 66);
  --dark-5: rgb(71, 86, 109);
  --accent-1: rgb(77, 139, 255);
  --accent-2: rgb(45, 96, 204);
  --accent-3: rgb(134, 150, 184);
  --hover-red: rgb(167, 99, 82);
  --player-hit: #ad776b;

  --container-width: min(90vw, calc(40rem + 5vw));

  /* --font-factor: max(calc(0.8vw + 0.7rem), 1.2rem); */
  --font-factor: clamp(1.3rem, calc(0.5vw + 0.7rem), 1.5rem);

  --font-lg: calc(var(--font-factor) * 1.05);
  --font-md: calc(var(--font-factor) * 0.9);
  --font-sm: calc(var(--font-factor) * 0.7);
  --font-xs: calc(var(--font-factor) * 0.6);

  /* --grid-offset: 1rem; */
}

html {
  font-family: 'Noto Sans Mono', monospace;
  color: var(--light-1, white);
  background-color: var(--dark-2, black);
}
h1 {
  font-weight: 800;
  font-size: var(--font-lg, 1.8rem);
  margin-block-end: 0.3rem;
}
h2 {
  font-weight: 600;
  font-size: var(--font-md, 1.4rem);
  margin-block-end: 0.3rem;
}
h3 {
  font-weight: 400;
  font-size: var(--font-sm, 1.1rem);
  margin-block-end: 0.3rem;
}
h4 {
  font-weight: 600;
  font-size: var(--font-xs, 1rem);
  margin-block-end: 0.3rem;
}
p {
  font-size: var(--font-xs, 0.9rem);
}
#page-container {
  width: calc(100vw - var(--page-margin, 2rem) * 2);
  height: calc(100vh - var(--page-margin, 2rem) * 2);
  background-color: var(--dark-3, gray);
  margin: var(--page-margin, 2rem);
}
#game-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: var(--container-width);
  margin: 0 auto;
  padding-top: calc(16vh - 4rem);
}
#boards-container {

}
.grid-wrapper {
  background-color: white;
}
.grid {
  display: grid;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  gap: 0;
  border: var(--grid-border-size, 1px) solid var(--light-2, black);
  box-sizing: border-box;
}
.enemy-grid-wrapper {
  width: calc(var(--container-width) * 0.425);
  padding-bottom: calc(var(--container-width) * 0.425);
  margin-bottom: 0.8rem;
  position: relative;
  right: var(--grid-offset, 0);
}
.enemy-grid {
  background-color: var(--dark-3, #EEE);
  background-size: cover;
}
.player-grid-wrapper {
  width: calc(var(--container-width) * 0.5);
  padding-bottom: calc(var(--container-width) * 0.5);
  position: relative;
  left: var(--grid-offset, 0);
}
.player-grid {
  background-color: var(--dark-3, #EEE);
  background-size: cover;
}
.grid-label {
  /* height: 2rem; */
}
.enemy-area .grid-label {
  display: inline-block;
}
.enemy-delay-toggle {
  display: inline-block;
  font-size: var(--font-xs, 0.9rem);
  font-weight: 700;
  margin-left: 0.5rem;
  cursor: pointer;
  color: var(--accent-1, blue);
}
.enemy-delay-toggle:hover {
  color: var(--accent-2, darkblue);
}
.enemy-area {
  margin-right: 1rem;
}
.player-area {

}
.grid-cell {
  /* transition: background-color 0.3; */
  border: calc(var(--grid-border-size) / 2) solid var(--light-2);
  background-color: var(--dark-5, white);
  box-sizing: border-box;
}
.enemy-grid .grid-cell-unclicked {
  transform: scale(1, 1);
  transition: transform 0.08s, background-color 0.1s;
}
.enemy-grid .grid-cell-unclicked:hover {
  cursor: pointer;
  background-color: var(--accent-3, lightgray);
  /* position: relative; */
  /* box-shadow: inset 0px 0px 0px 0.5px black,
              0px 0.2rem 0.3rem 0 rgba(0,0,0,0.3); */
  box-shadow: 0px 0.2rem 0.6rem 0 rgba(0,0,0,0.2);
  /* transform: scale(1.25, 1.25); */
  z-index: 2;
}
.place-hover {
  background-color: var(--accent-3, rgb(98, 151, 230));
}
.place-hover-solo {
  cursor: pointer;
  background-color: var(--accent-3, dodgerBlue);
}
.place-hover-oob {
  background-color: crimson;
}
.place-hover-oob-solo {
  cursor: pointer;
  background-color: red;
}
.place-hover-occupied {
  background-color: var(--hover-red, gold);
}
.place-hover-occupied-solo {
  cursor: pointer;
  background-color: var(--hover-red, gold);
}
.ship-standing {
  background-color: var(--accent-1, blue);
}
.hit {
  background-color: var(--light-3, lightgreen);
}
.hit-flip {
  transform-style: preserve-3d;
}
@keyframes hitflip {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(180deg);
  }
}
.enemy-hit {

}
.player-hit {
  
}
.miss {
  background-color: var(--dark-2, #111);
  /* opacity: 0; */
}
.enemy-miss {

}
.player-hit {
  background-color: var(--player-hit, brown);
}
.info-container {
  color: var(--dark-2, black);
  padding: 1rem 0.4rem 0.6rem 0.4rem;
  background-color: var(--dark-5, rgb(71, 86, 109));
  width: calc(var(--container-width) * 0.4);
}
.info-title {
  color: var(--light-1, white);
  font-size: var(--font-lg, 1.4rem);
  margin-block-end: 0;
}
.info-state-container {
  margin-bottom: 0.5rem;
}
.info-state {
  height: 1.4rem;
  color: var(--light-1, white);
  display: inline-block;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
}
.rotate-button, .rotate-button div {
  display: inline-block;
}
.rotate-button {
  height: 1.4rem;
  color: var(--light-1, white);
  background-color: var(--dark-3, #222);
  padding: 0.1rem 0.6rem;
  border-radius: 0.3rem;
  cursor: pointer;
  user-select: none;
}
.rotate-button:hover {
  background-color: var(--dark-4, #222);
}
.rotate-button:active {
  background-color: var(--accent-2, blue);
}
.rotate-button-text {
  font-size: var(--font-xs, 0.9rem);
  margin-right: 0.4rem;
}
.rotate-button-icon {
  color: var(--dark-2, black);
  background-color: var(--light-2, white);
  font-size: var(--font-sm, 1.1rem);
  padding: 0.05rem 0.3rem;
  border: 1px solid black;
  border-radius: 0.2rem;
}
.info-details {
  height: 15rem;
  overflow: auto;
  margin-bottom: 0.7rem;
}
.info-remaining {
  height: 7rem;
  font-size: var(--font-xs, 0.9rem);
  color: var(--light-1, white);
  background-color: var(--dark-3, #222);
  padding: 0.4rem 0.3rem;
  margin-bottom: 0.1rem;
}
.info-remaining-title {
  font-size: var(--font-sm, 1.1rem);
  font-weight: 700;
}
.info-remaining-list {

}
.remaining-ship {
  display: inline-block;
  font-size: var(--font-xs, 0.9rem);
  background-color: var(--light-2, white);
  color: var(--dark-2, black);
  padding: 0.3rem 0.2rem;
  margin: 0 0.3rem 0.2rem 0;
  border-radius: 0.2rem;
}
.info-details-message {
  font-size: var(--font-xs, 0.9rem);
  color: var(--light-1, white);
  background-color: var(--dark-3, #222);
  padding: 0.45rem 0.3rem;
  margin-bottom: 0.1rem;
}

@media (max-width: 600px) {
  :root {
    --container-width: min(80vw, 20rem);
  }
  #page-container {
    height: auto;
  }
  #game-container {
    display: block;
    padding-top: 2rem;
  }
  .player-grid-wrapper {
    width: calc(var(--container-width) * 1);
    padding-bottom: calc(var(--container-width) * 1);
  }
  .enemy-grid-wrapper {
    width: calc(var(--container-width) * 0.9);
    padding-bottom: calc(var(--container-width) * 0.9);
  }
  .info-container {
    width: calc(var(--container-width) * 1 - 1rem);
    margin-top: 0.8rem;
  }
}